{% extends "base.html" %}
{% block title %}What is IBCG?{% endblock %}
{% block content %}
<div class="row"><div class="col s12" style="padding: 1em">
<style>
p {
    color: white !important;
    font-size: 16px;
}
</style>
<p>The International Bladder Cancer Group (IBCG) is a globally recognized entity that has published a number of peer-reviewed articles addressing knowledge gaps in and providing recommendations for management of bladder cancer.</p>
<p>The IBCG was formed in October 2006 under the guidance of Dr. Roger Buckley, Chief of Urology at North York General Hospital in Toronto, Canada. The primary objective for forming the IBCG was to address global educational needs and learning gaps in order to improve the care and management of patients with urothelial carcinoma. The inaugural meeting, in 2006, consisted of members selected as representatives of their varied geographic regions across Europe, North America and Asia. The members were specifically selected not only for their expertise but also to ensure representation from across Europe and North America.</p>
<p>Over the years, the mission of the IBCG has been to improve outcomes of patients suffering from bladder cancer through critical evaluation and leveraging of existing data to drive evidence-based treatment. An additional goal is to develop practical educational tools that are applicable to the global urological community and thus enhance the care of patients with bladder cancer on a global level.</p>
<p>Toward this end, the IBCG has authored numerous peer-reviewed articles published in high-impact journals, including European Urology, Journal of Urology, BJU International, and Journal of Clinical Oncology. An IBCG review of guidelines and best practice recommendations for the management of non-muscle-invasive bladder cancer published in Journal of Urology in 2011 remains one of the most- downloaded articles for that journal. The IBCG’s white paper recently published in Journal of Clinical Oncology, “Definitions, End Points, and Clinical Trial Designs for Non-Muscle-Invasive Bladder Cancer,” is being used by regulatory bodies and industry as a guide for development of clinical trials. The IBCG has been quoted in global and international guidelines for the management of bladder cancer, including guidelines from the American Urological Association and European Urological Association.</p>
<p>The members have elected to incorporate it as a separate entity – the International Bladder Cancer Group, LLC.  The mission statement of the IBCG remains unchanged: to improve outcomes of patients suffering from bladder cancer through critical evaluation and leveraging of existing data to drive evidence-based treatment.</p>
</div></div>
{% endblock %}
