{% extends "base.html" %}
{% block title %}IBCG{% endblock %}
{% block content %}
<div class="row red valign-wrapper" style="margin-bottom: 0px !important; padding: 3em">
    <div class="col s9 m10">
        <h4 class="white-text" style="margin: 0px !important">BCG as Defense Against SARS-CoV-2 (BADAS)</h4>
    </div>
    <div class="col s3 m2 right-align">
        <a class="waves-effect btn-flat white-text" href="http://bcgbadas.org" target="_blank">
            MORE
        </a>
    </div>
</div>
<div class="row black" style="padding: 1.5em;">
    <div class="col s12 l6">
        <div class="section center-align">
            <h3 class="white-text">About us</h3>
            <div class="collection" style="border: none">
                <a class="collection-item" target="_blank" href="https://bit.ly/2yIHrLW">Mission Statement</a>
                <a class="collection-item" target="_blank" href="https://bit.ly/3eRiPkz">Recent Publications</a>
                <a class="collection-item" target="_blank" href="https://bit.ly/3eQoJ5n">IBCG Board</a>
<style>
.collection-item {
    color: white !important;
    background: black !important;
    border: none !important;

}
</style>
            </div>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="section center-align">
            <h3 class="white-text">Resources</h3>
            <div class="collection" style="border: none">
                <a class="collection-item" target="_blank" href="https://bcan.org">Bladder Cancer Advocacy Network</a>
                <a class="collection-item" target="_blank" href="https://www.urotoday.com/center-of-excellence/bladder-cancer.html">UroToday Center of Excellence</a>
                <a class="collection-item" target="_blank" href="https://euoncology.europeanurology.com/">European Urology Oncology</a>
<style>
.collection-item {
    color: white !important;
    background: black !important;
    border: none !important;

}
</style>
            </div>
        </div>
    </div>
</div>


{% endblock %}
